/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #000000;
  font-size: 25px;
}

/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color, #008000) !important;
}
